/Soccer2_App_Server/.idea
/Soccer2_App_Server/.venv
/Mian_Managemente_Front/node_modules
/Mian_Managemente_Front/dist
/uniapp_innwabet/unpackage
/Mian_Managemente_Front/.idea
/ibet2_scraper/.idea
/ibet2_scraper/.venv
/ibet2_scraper/__pycache__
/Mian_Management_Server/.venv
/Mian_Management_Server/__pycache__
/Mian_Management_Server/.idea
/innwa_web/.htaccess
/innwa_web/.user.ini
